
$z-index-100: 100;
$z-index-200: 200;
$z-index-300: 300;
$z-index-400: 400;
$z-index-500: 500;


//网站主题色
$web-theme-color: #FEB900;

//主文字颜色
$text-color-primary: #2c3e50;
//次要信息文字色
$text-color-regular: #888888;
//暗提示色
$text-color-secondary: #BBBBBB;
//错误、警示色
$text-color-danger: #F4333C;
//重点提醒色
$text-color-warn: #FF5B05;

//默认border颜色
$border-color-primary: #e6ebf5; 

//背景-底色
$back-ground-colour: #F6F8F9;

//顶部导航设置
$navBar-height: 60px;
$navBar-logo: 60px;
$navBar-backgound-color: #FFFFFF;

//左侧导航设置
$sidebar-fold-height: 30px;
$sideBar-max-width: 200px;
$sideBar-min-width: 64px;
$sideBar-color: #FFFFFF;
$sideBar-backgound-color: #FFFFFF;
$sideBar-cur-background-color: #FFFFFF;

//main set
$main-container-padding: 20px;

//mini width
$mini-width: 980px;
